*$py.class
*.cover
*.egg
*.egg-info
*.egg-info/
*.flac
*.gz
*.log
*.manifest
*.mkv
*.mo
*.mp3
*.mp4
*.pdf
*.png
*.pot
*.pt
*.pth
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.th
*a40*
*durip*
*rtx*
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pypirc
.pyre/
.pytest_cache
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
amt/
bad_files/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
demo/generated_tts
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
file_log.txt
file_log_debug*.txt
htmlcov/
hub/
instance/
ipython_config.py
lib/
lib64/
local_*
local_settings.py
MANIFEST
nosetests.xml
parts/
per_sample_res/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
res/lspc_eval
res/seed_tts_eval/
sam1.wav
sam2.wav
sam3.wav
sdist/
share/python-wheels/
sim_lr.ipynb
src/
target/
thumbs.db
var/
venv.bak/
venv/
wheels/
__pycache__/
__pypackages__/
generated_tts/