__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea
*.log
*rtx*
*.pdf
*.mkv
*.mp4
*a40*
*durip*
*.png
sim_lr.ipynb
*.mp3
*.gz
*.flac
*.th
*.pth
*.pt
local_*
hub/
per_sample_res/
src/
res/seed_tts_eval/
res/lspc_eval
file_log.txt
file_log_debug*.txt
bad_files/
amt/
sam1.wav
sam2.wav
sam3.wav
demo/generated_tts